.container {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/images/bg.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  min-height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.title {
  font-weight: 900;
  font-size: 60px;
  line-height: 109%;
  color: #1d1c24;
}

.titleSecondary {
  font-weight: 900;
  font-size: 60px;
  line-height: 109%;
  color: #f45050;
}

.description {
  margin: 16px 0;
  font-size: 21px;
  line-height: 150%;
  text-align: center;
  color: #1d1c24;
}

.descriptionSecondary {
  margin: 16px 0 40px;
  font-size: 21px;
  line-height: 150%;
  text-align: center;
  color: #f45050;
}

.grid {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
  max-width: 512px;
}

.field {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 30px;
  font-size: 21px;
  line-height: 36px;
  color: #1d1c24;
  background: #d6d6d6;
  border-radius: 30px;
  border: none;
  outline: none;
}

.btn {
  padding: 12px 30px;
  font-size: 21px;
  line-height: 36px;
  color: #fff;
  border-radius: 30px;
  background: #f4ba1a;
  outline: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 50px;
    text-align: center;
  }

  .titleSecondary {
    font-size: 50px;
    text-align: center;
  }
}
